services:
  ackee:
    image: electerious/ackee
    restart: always

    environment:
      WAIT_HOSTS: mongo:27017
      ACKEE_MONGODB: mongodb://mongo:27017/ackee
      ACKEE_HOST: 0.0.0.0
      ACKEE_USERNAME: ${ACKEE_USERNAME}
      ACKEE_PASSWORD: ${ACKEE_PASSWORD}

    depends_on:
      - mongo

    labels:
      caddy: statics.nawastudio.net
      caddy_0.handle_path: "/*"
      caddy_0.reverse_proxy: "{{upstreams 3000}}"

  mongo:
    image: mongo
    restart: always
    volumes:
      - ackee_data:/data/db

volumes:
  ackee_data:
